@font-face {
  font-family: Din;
  src: url('./fonts/DIN\ Alternate\ Medium.ttf') format('truetype');
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
